@import "tailwindcss";


@theme {
    --color-primary: #cf412b;

    --color-darkGray: #1f1f1f;
    --color-lightGray: #3d3d3d;

}

.custom-quote {
  @apply border-l-4 border-zinc-300 p-3  mx-3 italic text-lightGray ;
}
